
html{
	background-color: #020e1e; 
}

#container{
	margin: 0 auto;
	text-align: center;
	background-color: #020e1e;	
	color: #f6cc15;
}

#hogwarts{
	margin: 0 auto;
	background-color: #020e1e; 
	background-color: black;
}

#countdown{
	color: white;
	font-size: 20px;
}
/*font-family: 'Shadows Into Light Two', cursive;*/